<%- include("header.ejs"); %>

    <div class="box" id="heading">
        <h1><%= taskTitle %></h1>
    </div>

    <div class="box">
        <% tasks.forEach(element => { %>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" name="checkbox" value="<%= element._id %>" onchange="this.form.submit()">
                    <p><%= element.name %></p>
                </div>
                <input type="hidden" name="listName" value="<%= taskTitle %>">
            </form>
        <% }) %>

        <form class="item" action="/" method="post">
            <input type="text" name="newTask" placeholder="New Item" autocomplete="off">
            <button type="submit" name="listName" value=<%= taskTitle %> >+</button>
        </form>
    </div>

<%- include("footer.ejs"); %>